.headerImg {
    height: 100vh;

    position: relative;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .platform {
        color: darkgray;
        text-align: center;
    }

    .headerTitle {
        font-size: 100px;
        font-family: Arial, Tahoma;
        font-weight: 600;
        color: white;
    }

    .safeZone {
        width: 100%;
        height: 10%;
    }

    .foto {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        width: 100%;
        flex-grow: 1;
    }

    .partnersWrapper {
        width: 90%;
        align-items: flex-start;
    }

    .partners {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        height: 5%;
        padding: 0;
        max-width: 90%;
        font-size: 75%;
    }

    .slogan,
    .slogan2 {
        font-size: 100%;
        font-family: Arial, Tahoma;
        font-weight: 500;
        color: white;
        background: midnightblue;
        padding: 12px;
        border-radius: 8px;
    }

    .slogan2 {
        display: none;
    }

    .headerTop {
        height: 30%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        width: 100%;
    }

    .headerLogo {
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerTextWraper {
        width: 80%;
        height: 40%;
    }

    .headerText {
        width: 100%;
        height: 100%;
        fill: darkgray;
    }

    .headerSpectr {
        width: 100%;
    }

    .logo {
        width: 60%;
        height: 100%;
    }

    @media (max-width: 540px) or (max-height: 540px) {
        .slogan2 {
            font-size: 20px;
            padding: 8px;
            border-radius: 8px;
        }
    }

    @media (max-width: 768px) {
        .foto {
            background-position-x: 60%;
        }
        .headerTextWraper {
            height: 30%;
        }
        .partners {
            font-size: 70%;
        }
        .headerSpectr {
            width: 100%;
        }
        .slogan2 {
            display: block;
        }

        .slogan {
            display: none;
        }
    }

    @media (max-height: 600px) {
        .headerTop {
            height: 30%;
            gap: 4px;
        }
        .headerImg {
            gap: 8px;
        }

        .foto {
            height: 35%;
            background-position-y: 30%;
            flex-grow: 0;
        }
        .platform {
            font-size: 70%;
        }
        .partners {
            font-size: 60%;
        }
    }

    @media (max-width: 540px) {
        .platform {
            font-size: 65%;
        }
        .partners {
            font-size: 60%;
            gap: 8px;
            height: 100%;
            flex-direction: column;
        }

        .headerTextWraper {
            height: 20%;
        }
    }

    .name {
        height: 100px;
    }

    @media (max-height: 540px) {
        .slogan {
            font-size: 50%;
            padding: 6px;
        }
    }

    @media (max-height: 600px) {
        .slogan2 {
            display: none;
        }
        .slogan {
            display: block;
        }
    }
}

.info {
    max-width: 1024px;
    font-size: 32px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 60px !important;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: flex;
    gap: 16px;
    flex-direction: column;

    .headerAgro {
        font-size: 200%;
        font-weight: 600;
    }

    .aboutArgo {
        backdrop-filter: blur(10px);
        background-color: rgba(255 255 255, 0.1);
        padding: 16px;
        font-size: 28px;
        border-radius: 16px;
    }
}
.qrcode {
    position: absolute;
    top: 0;
    right: 16px;
    width: 80px;
    height: 80px;
}

@media (max-width: 600px) {
    .info {
        font-size: 50%;
        margin-bottom: 80px !important;
    }
    .columnContainer {
        font-size: 80%;
        gap: 16px;
    }
    .qrcode {
        top: 16px;
        height: 80px;
        width: 80px;
    }
}

@media (max-height: 600px) {
    .info {
        flex-direction: row;
        align-items: center;
        height: 10%;
        font-size: 40%;
        margin-bottom: 32px !important;
    }
}

.headerDivider {
    border-bottom: 1px darkgray solid;
    margin: 0 16px 16px;
}

.columnContainer {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 16px;

    .columnTitle {
        font-size: 146%;
        font-weight: 600;
        margin-bottom: 32px;
    }

    .demoList {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.paragraphImage {
    width: 100%;
}
