.headerImg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .headerTitle {
        font-size: 100px;
        font-family: Arial, Tahoma;
        font-weight: 600;
        color: white;
    }

    .slogan {
        font-size: 35px;
        font-family: Arial, Tahoma;
        font-weight: 500;
        color: white;
        background: midnightblue;
        padding: 12px;
        border-radius: 16px;
    }

    .headerLogo {
        height: 200px;
        display: flex;
        gap: 32px;
        flex-shrink: 0;
    }

    .logo {
        flex-shrink: 0;
        width: 200px;
        height: 200px;
    }

    .name {
        height: 100px;
    }
}

.info {
    font-size: 32px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 60px !important;
  
        text-align: center;
        text-transform: uppercase;
        color: white;

    .headerAgro {
        font-size:80px;
        font-weight: 600;
    }

    .aboutArgo {
        backdrop-filter: blur(10px);
        background-color: rgba(255 255 255, 0.1);
        padding: 16px;
        font-size: 28px;
        border-radius: 16px;
    }
    
}

.columnContainer {
    max-width: 1024px;
    margin: 0 auto;
}