.headerImg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 32px;
    display: flex;
    gap: 32px;
    justify-content: center;

    .headerTitle {
        font-size: 100px;
        font-family: Arial, Tahoma;
        font-weight: 600;
        color: white;
    }

    .slogan {
        font-size: 35px;
        font-family: Arial, Tahoma;
        font-weight: 500;
        color: white;
        background: midnightblue;
        padding: 12px
    }

    .headerLogo {
        height: 200px;
        display: flex;
        gap: 32px;
        flex-shrink: 0;
        width: 100%;
    }

    .logo {
        flex-shrink: 0;
        width: 200px;
        height: 200px;
    }

    .name {
        height: 100px;
    }
}
