.footerWrapper {
    background-color: darkgray;
    .footer {
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: white;
        margin: 0 auto;

        .contacts {
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            justify-content: flex-start;

            .contactsValue {
                white-space: break-spaces;
            }
        }
    }
}
